body {
  background-color: #f8f5f7;
  font-family: Helvetica, sans-serif;

}

.inner-container {
  max-width: 960px;
  margin: 0 auto;
}
.flex-container {
  
}

/* typography */



/* header*/


/* Hero */

/* Intro */


/* Events */

/* services */

/* Footer */

















