body {
  background-color: #f8f5f7;
  font-family: Helvetica, sans-serif;

}

.inner-container {
  width: 60rem;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.inner-container.flex-container {
  display: flex;
  max-width: 60rem;
  align-items: stretch;
  justify-content: space-between;
}

.btn {
  border: 1px solid grey;
  color: grey;
  border-radius: .25rem;
  padding: 0.5rem 1rem;
}

/* typography */
a {
  text-decoration: none;
  color: white;
}

h1 {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}

h1 a{
  font-size: 1.5rem;
  font-weight: 800;
}

h2 {
  font-size: 3.5rem;
  color: #474647;
  text-transform: uppercase;
}


/* header*/
header {
  background-color: #464647;
  height:7rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

nav {
  display:flex;
}

ul li {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

ul a {
  border: 1px solid white;
  border-radius: .5rem;
  padding: 0.5rem 1rem;
  justify-content: flex-end;
  align-items: center;
}


/* Hero */
.hero img {
  display: block;
  width: 100%;
}

.hero div {
  display: flex;
  flex-direction: column;
}

/* Intro */


/* Events */

/* services */

/* Footer */