body {
    font-size: 100%;
    /* =1rem */
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inner-container {
    max-width: 60rem;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    gap: 1.5rem;
}

header .flex-container {
    align-items: center;
}

header {
    background-color: #92BEBF;
}

.hero {
    background-image: url('../img/image-climbing-girl-jpeg.jpg');
    background-size: cover;
    background-position: center1;
    height: 24.375rem;
    width: 50%;
}

header div div {
    width: 50%;
    color: #ffffff;
    padding: 0 1rem;
}

header p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

header h1 {
    font-size: 2.5rem;
    font-style: bolder;
    margin-bottom: 0.5rem;
}

/* SECTION STYLES */
section {
    margin-bottom: 3rem;
    padding: 3rem;
    /* 48px ÷ 16 = 3rem */
}

section:first-of-type {
    background-color: #fffbeb;
}

section:last-of-type {
    background-color: #f0fdfa;
}

section div:first-of-type {
    width: 65%;
}

section img:first-of-type {
    width: 30%;
}

section div div div.flex-container img {
    width: 3rem;
}

section div div div.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

p {
    line-height: 1.5;
    margin-top: 1rem;
    /* 16px ÷ 16 = 1rem */
}

footer {
    background-color: #fff;
    padding: 2rem 0;
    /* 32px ÷ 16 = 2rem */
    border-top: 0.125rem solid #64748B;
    /* 2px ÷ 16 = 0.125rem */
}

footer .flex-container {
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

footer a {
    text-decoration: none;
    color: #64748B;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}